:root {
  --heading-font: "Fraunces", serif;
  --body-font: "Poppins", sans-serif;
  --primary-color: #1f1944;
  --secondary-color: #68c9c9;
  --tertiary-color: #e3f6f5;
}

.navbar {
  background: var(--primary-color);
}
.nav-link {
  color: var(--tertiary-color);
  font-family: var(--heading-font);
}
.nav-link:hover {
  color: var(--secondary-color);
}
.navbar-brand {
  color: var(--tertiary-color);
  font-family: var(--heading-font);
}
.navbar-brand:hover {
  color: var(--secondary-color);
}
.navbar-brand:visited {
  color: var(--tertiary-color);
}
.menu-icon {
  color: var(--tertiary-color);
}
.active {
  color: var(--secondary-color);
}
.active:visited {
  color: var(--secondary-color);
}
.inactive:visited {
  color: var(--tertiary-color);
}
.hero {
  background: var(--tertiary-color);
  padding: 160px 0;
  text-align: center;
}

.hero h2 {
  color: var(--primary-color);
  font-size: 36px;
  font-family: var(--heading-font);
  margin-top: 110px;
}
.hero p {
  color: var(--primary-color);
  font-size: 24px;
  font-family: var(--body-font);
  font-weight: 400;
  margin-top: 24px;
}
.homepage-heading {
  color: var(--secondary-color);
  font-size: 60px;
  font-family: var(--heading-font);
  margin-top: 75px;
}
.workpage-heading {
  color: var(--secondary-color);
  font-size: 35px;
  font-family: var(--heading-font);
  margin-top: 75px;
  text-align: center;
}
.contact-heading {
  color: var(--secondary-color);
  font-size: 35px;
  font-family: var(--heading-font);
  text-align: center;
}
.welcome p {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 17px;
}
.achievements {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 19px;
  font-weight: 500;
}
.projects {
  background: var(--tertiary-color);
  margin-top: 75px;
  padding: 12px;
}
.project {
  height: auto;
  width: 500px;
}
.project-link {
  color: var(--tertiary-color);
  font-family: var(--body-font);
}
.project-link:hover {
  color: var(--tertiary-color);
}
.project-heading {
  color: var(--secondary-color);
  font-family: var(--heading-font);
}
.project-details {
  color: var(--primary-color);
  font-family: var(--body-font);
}
.hover-image {
  position: relative;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.hover-overlay--solid {
  background: var(--primary-color);
}

.hover-overlay:hover {
  opacity: 1;
}

.hover-description {
  font-size: 25px;
}
.coming-soon {
  margin-bottom: 150px;
  color: var(--primary-color);
  font-size: 20px;
  font-family: var(--body-font);
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.learn-more {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 3%;
  color: var(--tertiary-color);
  font-family: var(--body-font);
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.learn-more:hover {
  background: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--secondary-color);
}
.image-wrapper {
  background: var(--tertiary-color);
  border-radius: 2%;
  padding: 12px 10px;
}
.homepage-image {
  display: block;
  margin: 0 auto;
}
.link-wrapper {
  margin-top: 65px;
}
.certificate {
  height: auto;
  width: 400px;
}
.footer-header {
  color: var(--primary-color);
  font-size: 27px;
  font-weight: 400;
  font-family: var(--heading-font);
}
.social-link {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0px 7px 0 7px;
}
.social-link:hover {
  color: var(--primary-color);
}
.social-links {
  margin-top: 17px;
}
.signature {
  color: var(--primary-color);
  font-family: var(--body-font);
  margin-top: 30px;
}
.github-link {
  color: var(--secondary-color);
  text-decoration: none;
}
.github-link:hover {
  color: var(--secondary-color);
}
.about-me-text {
  margin-top: 145px;
}
.picture-set {
  margin-top: 75px;
}
.line-break {
  color: var(--secondary-color);
}
footer {
  background: var(--tertiary-color);
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 15px 0;
}
header {
  margin-top: 160px;
}
h1 {
  color: var(--primary-color);
  font-size: 96px;
  font-family: var(--heading-font);
}
@media (max-width: 426px) {
  h1 {
    font-size: 30px;
  }
  .hero {
    padding: 165px 0;
  }
  .hero p {
    font-size: 15px;
  }
  .hero h2 {
    font-size: 25px;
  }
  .homepage-heading {
    font-size: 30px;
  }
  .about-me-text {
    margin-top: 100px;
  }
}
